<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.routeoptimizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_picture"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_picture"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".frontend.EditLocationsActivity"
            android:parentActivityName=".frontend.EnterLocationsActivity"/>
        <activity
            android:name=".frontend.MapLocationsActivity"
            android:parentActivityName=".frontend.SettingsActivity" />
        <activity
            android:name=".frontend.EnterCoordinatesActivity"
            android:parentActivityName=".frontend.EnterLocationsActivity" />
        <activity
            android:name=".frontend.SettingsActivity"
            android:parentActivityName=".frontend.MainActivity" />
        <activity
            android:name=".frontend.EnterLocationsActivity"
            android:parentActivityName=".frontend.MainActivity" />
        <activity android:name=".frontend.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>